---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - pinot.apache.org
  resources:
  - pinotclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pinot.apache.org
  resources:
  - pinotclusters/finalizers
  verbs:
  - update
- apiGroups:
  - pinot.apache.org
  resources:
  - pinotclusters/status
  verbs:
  - get
  - patch
  - update
